{% extends "page.html" %}

{% block title %}Mot de passe oublié{% endblock title %}
{% block page_title %}Mot de passe oublié{% endblock page_title %}
{% block page_id %}{% endblock page_id %}

{% block main %}

<p>Mot de passe oublié? Saisissez votre adresse courriel ci-dessous et
nous vous enverrons les instructions pour en créer un nouveau.</p>

<form method="post"  data-ajax="false">
  {% csrf_token %}
  <input id="email" type="email" name="email" required>

  <input type="submit" value="Envoyer les instructions" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
