{% extends "page.html" %}

{% block title %}Mot de passe{% endblock title %}
{% block page_title %}Mot de passe{% endblock page_title %}
{% block page_id %}{% endblock page_id %}

{% block main %}

{% if validlink %}

<h2>Entrez un nouveau mot de passe</h2>

<form method="post"  data-ajax="false">
  {% csrf_token %}

  {{ form.new_password1.errors }}
  <label for="new_password1">Nouveau mot de passe</label>
  <input id="new_password1" type="password" name="new_password1" required>

  {{ form.new_password2.errors }}
  <label for="new_password2">Confirmation du mot de passe </label>
  <input id="new_password2" type="password" name="new_password2" required>

  <input type="submit" value="Modifier mon mot de passe" />
</form>

{% else %}

<p>Lien invalide. Veuillez faire une <a href="{% url 'password_reset' %}">nouvelle demande de réinitialistaion de votre mot de passe</a>.</p>

{% endif %}

{% endblock %}
