{% extends 'page.html' %}

{% block title %}Exercices de conjugaison{% endblock title %}
{% block page_title %}Exercices de conjugaison{% endblock page_title %}
{% block page_id %}attempt-feedback-page{% endblock page_id %}


{% block main %}

<div>
  {% include 'question.html' %}
</div>

{% if attempt.is_good %}

<p>{% if conjugation.mood.name == "impératif" %}({% endif %}{{ conjugation.person.pronoun|join:" / "|capfirst }}{% if conjugation.mood.name == "impératif" %}){% endif %} <span class="good-answer">{{ attempt.answer }} ✓</span></p>

<p>Bonne réponse!</p>

{% else %}

<p>{% if conjugation.mood.name == "impératif" %}({% endif %}{{ conjugation.person.pronoun|join:" / "|capfirst }}{% if conjugation.mood.name == "impératif" %}){% endif %} <span class="bad-answer">{{ attempt.answer }} ✘</span>
<p>Réponse : <strong>{{ attempt.values|join:", " }}</strong></p>

{% endif %}

<a href="{% url 'attempt' %}" class="ui-btn focus" id="continue">Poursuivre</a>

{% endblock main %}
