{% extends 'page.html' %}

{% block title %}Exercices de conjugaison{% endblock title %}
{% block page_title %}Exercices de conjugaison{% endblock page_title %}
{% block page_id %}attempt-page{% endblock page_id %}

{% block main %}

<div>
  {% include 'question.html' %}
</div>

<form id="validate-form" method="post" action="{% url 'attempt-feedback' %}">
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}

  <div class="ui-field-contain">
    <label for="{{ form.answer.auto_id }}" class="text-center">{% if conjugation.mood.name == "impératif" %}({% endif %}{{ conjugation.person.pronoun|join:" / "|capfirst }}{% if conjugation.mood.name == "impératif" %}){% endif %}</label>
    <input id="{{ form.answer.auto_id }}" name="{{ form.answer.html_name }}" type="text" autocomplete="off">
  </div>

  <button id="submit-attempt" class="ui-btn ui-state-disabled" href="#">Valider</button>

{% endblock main %}
