{% extends 'page.html' %}

{% block title %}Préférences{% endblock title %}
{% block page_title %}Préférences{% endblock page_title %}
{% block page_id %}user-mood-tense{% endblock page_id %}


{% block main %}

{% if not user.is_authenticated %}
<div class="ui-bar ui-bar-a">
  <h3>Vous devez avoir un compte pour modifier vos préférences</h3>
</div>
<div class="ui-body ui-body-a">
  <p><a href="{% url 'registration' %}">Cliquez ici pour
  vous créer un compte</a></p>
</div>
{% endif %}


<form action="" method="post" data-ajax="false">
  {% csrf_token %}

  <fieldset data-role="controlgroup">
    <legend>Que désirez-vous pratiquer?</legend>

    {% for field in form %}
    <input type="checkbox" name="{{ field.field.widget.attrs.mood_tense_id }}" id="input-{{ forloop.counter0 }}" {% if field.value %}checked{% endif %}>
    <label for="input-{{ forloop.counter0 }}">{{ field.label }}</label>
    {% endfor %}
  </fieldset>

  <input type="submit" value="Sauvegarder" {% if not user.is_authenticated %}disabled{% endif %}>

</form>

{% endblock main %}
