{% extends 'base.html' %}

{% block page_title %}Mode et temps de conjugaison{% endblock page_title %}

{% block content %}
<div data-role="page" id="attempt-page">

  <div data-role="header">
    <h1>Mode et temps de conjugaison</h1>

  </div>

  <div data-role="main" class="ui-content">

    {{ form.subject.errors }}

    <form action="" method="post">{% csrf_token %}

      <fieldset data-role="controlgroup">
        <legend>Que désirez-vous pratiquer?</legend>

        {% for field in form %}
        <input type="checkbox" name="{{ field.field.widget.attrs.mood_tense_id }}" id="input-{{ forloop.counter0 }}" {% if field.value %}checked{% endif %}>
        <label for="input-{{ forloop.counter0 }}">{{ field.label }}</label>
        {% endfor %}
      </fieldset>


      <input type="submit" value="Sauvegarder" />
    </form>
  </div>

  {% include 'footer.html' %}

</div>
{% endblock content %}
